.jumbotron {
    margin-top: 40px;
}

h3 {
    margin-bottom: 20px;
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline li {
    display: inline;
}

p#guessesSoFar {
    float: left;
    margin-right: 10px;
}

ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

li {
    margin-bottom: 0;
    padding-bottom: 0;
}